@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(#002147	, #000B18); 
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  background-image: radial-gradient(#002147, #000B18); 
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display {
  background-color: #0058B3	;
  border-radius: 25px;  
  display: flex;
  flex-wrap: wrap;
  width: 747px;
  height: 584px;
  border-radius: 25px;
  box-shadow:
  0 0 7px 3px #86FAF2,  /* inner white */
  0 0 10px 7px #30E7ED, /* middle magenta */
  0 0 140px 100px #00A6D7; /* outer cyan */
  border: 4px solid #86FAF2; 
  justify-content: center;
}


.display h1 {
  display: block;
  width: 100%;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 60px;
  color: #86FAF2;
  margin-top: 10px;

}
.box {
  border-radius: 25%;
  margin-top: -20px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  height: 72.6px;
  font-family: 'Roboto Mono', monospace;
  display: block;
  width: 72.6px;
  display: block;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  background-color: #003083	;
  border-style: 4px solid;
  border-color: #86FAF2;
  box-shadow:
  0 0 4px 2px #86FAF2,  
  0 0 5px 3px #30E7ED, 
  0 0 12px 8px #00A6D7; 
  color: #86FAF2;
}

.box.active {
  opacity: 0.8;
  transform: scale(0.95);
}